---
import sea_rocks_800 from '../../assets/images/sea_rocks/sea_rocks-800.png';
import sea_rocks_600 from '../../assets/images/sea_rocks/sea_rocks-600.png';
import sea_rocks_400 from '../../assets/images/sea_rocks/sea_rocks-400.png';
import sea_rocks_250 from '../../assets/images/sea_rocks/sea_rocks-250.png';
import CropedImage from '../CropedImage/CropedImage';
import './description.scss';
---

<section id="description">
  <h1 id="section-title">Accompagnement sur votre chemin de vie</h1>
  <p class="paragraphe__left">
    <b>
      Je crois en la capacité de chacun.e à vivre sereinement, en harmonie et à
      faire des choix qui lui correspondent.
    </b>
     &nbsp; Nous traversons tous.tes des moments difficiles, de questionnements,
    de remise en cause voire de souffrance. Etre accompagné.e dans ces
    moments-là peut être d'une grande aide.
  </p>
  <div class="shoes-sketch">
    <CropedImage
      alt={'right-show'}
      src={sea_rocks_800.src}
      srcSet={`${sea_rocks_250.src} 250w, ${sea_rocks_400.src} 400w, ${sea_rocks_600.src} 600w, ${sea_rocks_800.src} 800w`}
      sizes="(max-width: 250px) 80vw, (max-width: 400px) 80vw, (max-width: 600px) 80vw, 80vw"
      offsetY={6.5}
      offsetX={3.5}
      zoom={16}
      client:load
    />
  </div>
  <p class="paragraphe__right">
    Je suis à votre disposition pour vous rencontrer, vous soutenir sur ce
    chemin et cela dans un climat de pleine confiance.
  </p>
  <div class="shoes-sketch">
    <CropedImage
      alt={'left-show'}
      src={sea_rocks_800.src}
      srcSet={`${sea_rocks_250.src} 250w, ${sea_rocks_400.src} 400w, ${sea_rocks_600.src} 600w, ${sea_rocks_800.src} 800w`}
      sizes="(max-width: 250px) 80vw, (max-width: 400px) 80vw, (max-width: 600px) 80vw, 80vw"
      offsetY={6.5}
      offsetX={1.6}
      zoom={16}
      client:load
    />
  </div>
  <div class="sketch-croped">
    <CropedImage
      alt={'blank'}
      src={sea_rocks_800.src}
      srcSet={`${sea_rocks_250.src} 250w, ${sea_rocks_400.src} 400w, ${sea_rocks_600.src} 600w, ${sea_rocks_800.src} 800w`}
      sizes="(max-width: 250px) 80vw, (max-width: 400px) 80vw, (max-width: 600px) 80vw, 80vw"
      offsetY={9}
      offsetX={17.5}
      zoom={28}
      width={'1000px'}
      height={'150px'}
      client:load
    />
  </div>
</section>
