---
import './layout.scss';
import '../styles/main.scss'
import Header from '../components/header/Header';
import Footer from '../components/footer/Footer.astro';

interface Props {
  id: string;
  path: string;
  pageTitle: string;
  description: string;
  noindex?: boolean;
  ecoBadge?: boolean;
  mainPage?: boolean;
}

const { id, path, pageTitle, description, noindex, ecoBadge, mainPage } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{pageTitle}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    {noindex && <meta name="robots" content="noindex" />}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={`https://nosfuturs.dev${path}`} />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <main id={`page-${id}`} class="page">
      <Header client:only="solid-js" />
      <div id={id} class="layout"><slot /></div>
      <Footer />
    </main>
  </body>
</html>
<style is:global>
  body {
    margin: 0;
    background-color: black;
    font-family: 'futura', 'larken', sans-serif, 'handsomeregular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
</style>
